@charset "UTF-8";

body > .main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 76%;
}

.search {
    position: absolute;
    left: 45%;
}

.search-form{
    left: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    margin: 1.6rem 1.6rem 1.6rem 2.8rem;
}

.search-form > .search-category {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    margin-right: 0.3rem;
}

.search > .search-form > .search-category > .search-category-list {
    width: 8rem;
    border: 0.125rem solid var(--color-border);
    font-size: 1rem;
    padding: 0.7rem 0.7rem 0.7rem 0.5rem;
    color: var(--color-text);
}

.search > .search-form > .search-standard {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    margin-right: 0.3rem;
}

.search > .search-form > .search-category > .icon {
    width: 3rem;
    height: 2.75rem;
    align-items: center;
    color: var(--color-text);
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 3.2rem;
}

.search > .search-form > .search-standard > .search-criteria {
    width: 8rem;
    border: 0.125rem solid var(--color-border);
    font-size: 1rem;
    padding: 0.7rem 0.7rem 0.7rem 0.5rem;
    color: var(--color-text);
}

.search > .search-form > .keyword-input-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
}

.search > .search-form > .keyword-input-container > .keyword-input {
    width: 25rem;
    border: 0.125rem solid var(--color-border);
    font-size: 1rem;
    padding: 0.7rem 3rem 0.7rem 1rem;
    color: var(--color-text);
}

.search > .search-form > .search-button {
    right: 1rem;
    appearance: none;
    background-color: unset;
    border: none;
    cursor: pointer;
    margin-bottom: 0.8rem;
    padding: unset;
    position: absolute;
    font-weight: 700;
    color: rgb(54, 59, 78);
}

body > .main > .boardName {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    left: 47%;
    margin-top: 7rem;
}

.category {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 9rem;
    text-align: left;
    margin-left: 5rem;
    margin-right: 5rem;
    position: absolute;
    top: 22rem;
}

.category-list {
    font-weight: 600;
    margin-bottom: 0.7rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem dotted rgb(150, 150, 130);
}

.category-list > a:hover {
    color: rgb(255, 135, 135);
}

body > .main > .list {
    width: 50rem;
    margin-top: 9rem;
    position: absolute;
    left: 21%;
}

.list-top {
    border-top: 0.0625rem solid var(--color-border);
    border-bottom: 0.0625rem solid var(--color-border);
    padding: 3px;
    margin: 3px;
    font-weight: 700;
}

td {
    border-bottom: 0.0625rem dotted var(--color-border);
    padding: 3px;
}

.index {
    width: 3rem;
    text-align: center;
}

.title {
    width: 10rem;
    text-align: center;
}

.nickname {
    width: 5rem;
    text-align: center;
}

.date {
    width: 8rem;
    text-align: center;
}

.view {
    width: 3rem;
    text-align: center;
}

.write-button {
    border-bottom: none;
}

.write {
    background-color: var(--color-partbackground);
    border: 0.1rem solid rgb(150, 150, 130);
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-weight: 600;
    font-size: 0.9rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 1rem;
    margin-top: 0.3rem;
}

.page {
    position: absolute;
    left: 45%;
    margin-top: 1.2rem;
    border-bottom: none;
}