@charset "UTF-8";

body > .main {
    /*margin-top: 12.5rem;*/
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 75px;
    height: 100%;
}

body > .main > .boardName {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    left: 47%;
    margin-top: 2rem;
}

.category {
    width: 9rem;
    text-align: left;
    margin: 7rem 0 5rem 5rem;
}

.category-list {
    font-weight: 600;
    margin-bottom: 0.7rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem dotted rgb(150, 150, 130);
}

.category-list > a:hover {
    color: rgb(255, 135, 135);
}

body > .main > .list {
    width: 50rem;
    position: absolute;
    left: 20rem;
    margin-top: 4.2rem;
}

thead > tr > th {
    border-top: 0.0625rem dotted var(--color-border);
    border-bottom: 0.0625rem dotted var(--color-border);
    padding: 3px;
    margin: 3px;
    font-weight: 700;
}

thead > tr > td {
    border-top: 0.0625rem dotted var(--color-border);
    border-bottom: 0.0625rem dotted var(--color-border);
    padding: 3px;
    margin: 3px;
}

.content {
    height: 10rem;
    padding: 0.7rem;
}

.comment {
    padding: 6rem 0 1rem 7rem;
}

.comment-content {
    resize: none;
    width: 70%;
    height: 3rem;
    border: 0.125rem solid var(--color-border);
    border-radius: 0.7rem;
    padding: 0.5rem;
}

.comment-button {
    background-color: var(--color-partbackground);
    border: 0.1rem solid rgb(150, 150, 130);
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 1.2rem 0 0 1rem;
    position: absolute;
    font-weight: 600;
    color: rgb(54, 59, 78);
    padding: 0.3rem;
}

.comment-button:hover {
    color: rgb(255, 135, 135);
}

.comment-list {
    text-align: center;
    padding: 0.7rem;
}

.comment-line {
    /*position: absolute;*/
    /*right: 19rem;*/
    /*padding-top: 0.7rem;*/
}

.comment-delete {
    cursor: pointer;
    font-weight: 600;
}

.board-list {
    position: absolute;
    right: 1rem;
    text-align: right;
    font-weight: 600;
    padding-top: 3rem;
}

.board-button {
    background-color: var(--color-partbackground);
    border: 0.1rem solid rgb(150, 150, 130);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.board-button:hover {
    color: rgb(255, 135, 135);
}