<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.yblee.mybbs.mappers.IUserMapper">
    <insert id="insert"
            parameterType="dev.yblee.mybbs.entities.UserEntity">
        INSERT INTO `mybbs_member`.users(`email`, `password`, `nickname`, `deleted_flag`, `suspended_flag`,
                                         `admin_flag`)
        VALUES (#{email}, #{password}, #{nickname}, #{isDeleted}, #{isSuspended}, #{isAdmin})
    </insert>

    <select id="selectUser"
            parameterType="dev.yblee.mybbs.entities.UserEntity"
            resultType="dev.yblee.mybbs.entities.UserEntity">
        SELECT `email`          AS `email`,
               `password`       AS `password`,
               `nickname`       AS `nickname`,
               `deleted_flag`   AS `isDeleted`,
               `suspended_flag` AS `isSuspended`,
               `admin_flag`     AS `isAdmin`
        FROM `mybbs_member`.`users`
        WHERE `email` = #{email}
          AND `password` = #{password}
        LIMIT 1
    </select>

    <select id="selectCountByEmail"
            resultType="_int">
        SELECT COUNT(0)
        FROM `mybbs_member`.`users`
        WHERE `email` = #{email}
    </select>

    <select id="selectCountByNickname"
            resultType="_int">
        SELECT COUNT(0)
        FROM `mybbs_member`.`users`
        WHERE `nickname` = #{nickname}
    </select>
</mapper>