<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<h2>게시판 제목</h2>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성 일시</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <!--조건 하에 표시되는 요소-->
    <!--<tr>-->
    <!--<td>표시할 게시글이 없습니다.</td>-->
    <!--</tr>-->
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성 일시</th>
    <th>조회수</th>
    </tbody>
    <tfoot>
    <tr>
        <td>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">5</a>
        </td>
    </tr>
    </tfoot>
</table>
</html>