<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판 - 검색 </title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/bbs/stylesheets/board.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b062f4306d.js" crossorigin="anonymous"></script>
    <script th:if="${session.userEntity == null}">
        alert('로그인 후 이용해주세요.');
        location.href = "/user/login";
    </script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<main class="main">
    <div class="search">
        <form class="search-form" th:action="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()}}">
            <label class="search-category">
                <span hidden>카테고리</span>
                <i class="icon fa-solid fa-magnifying-glass"></i>
                <select class="search-category-list" name="boardId">
                    <option th:each="board : ${bbsBoardEntities}"
                            th:text="${board.getName()}"
                            th:value="${board.getId()}"
                            th:selected="${board.getIndex() == 1}"></option>
                </select>
            </label>
            <label class="search-standard">
                <span hidden>검색기준</span>
                <select class="search-criteria" name="criteria">
                    <option value="title">제목</option>
                    <option value="all" selected>제목 + 내용</option>
                    <option value="writer">작성자</option>
                </select>
            </label>
            <label class="keyword-input-container">
                <span hidden>검색어</span>
                <input class="keyword-input" maxlength="50" name="keyword" placeholder="검색어 입력" type="text">
            </label>
            <input class="search-button" type="submit" value="검색">
        </form>
    </div>
    <h2 class="boardName" th:text="${bbsBoardSearchVo.getId()}"><!-- 게시판 제목(공지사항, 자유게시판 등) -->게시</h2>
    <ul class="category">
        <li class="category-list"><a th:href="@{'/bbs/board/list/notice'}">공지사항</a></li>
        <li class="category-list" ><a th:href="@{'/bbs/board/list/free'}">자유게시판</a></li>
    </ul>
    <table class="list">
        <thead>
        <tr>
            <th class="list-top">번호</th>
            <th class="list-top">제목</th>
            <th class="list-top">작성자</th>
            <th class="list-top">작성 일시</th>
            <th class="list-top">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${bbsBoardSearchVo.getArticles().size() == 0}">
            <!--조건 하에 표시되는 요소-->
            <td colspan="5" style="text-align: center">표시할 게시글이 없습니다.</td>
        </tr>
        <tr th:each="article : ${bbsBoardSearchVo.getArticles()}" th:object="${article}"><!-- 반복되는 요소 -->
            <td class="index" th:text="*{getIndex()}"><!-- 번호 --></td>
            <td class="title"><!-- 제목 -->
                <a th:href="@{'/bbs/article/read/' + *{getIndex()}}" th:text="${article.getTitle() + ' [' + article.getCommentCount() + ']'}"></a>
            </td>
            <td class="nickname" th:text="*{getUserNickname()}"><!-- 작성자 --></td>
            <td class="date" th:text="*{#dates.format(getWrittenAt(), 'yyyy-MM-dd HH:mm')}"><!-- 작성 일시 --></td>
            <td class="view" th:text="*{getView()}"><!-- 조회수 --></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td class="write-button" colspan="5" style="text-align: right;"><a class="write" th:href="@{/bbs/write}">글 쓰기</a></td>
        </tr>
        <tr th:if="${bbsBoardSearchVo.getArticles().size() != 0}">
            <td class="page" colspan="5" style="text-align: center;">
                <a th:href="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()} + '/' + ${bbsBoardSearchVo.getMinPage()}}"
                   th:if="${bbsBoardSearchVo.getMinPage() < bbsBoardSearchVo.getRequestPage()}">&lt;&lt;</a>
                <!-- 조건하에 존재하는 요소 -->
                <a th:href="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()} + '/' + ${bbsBoardSearchVo.getRequestPage() - 1}}"
                   th:if="${bbsBoardSearchVo.getMinPage() < bbsBoardSearchVo.getRequestPage()}">&lt;</a>
                <!-- 조건하에 존재하는 요소 -->
                <th:block
                        th:each="page : ${#numbers.sequence(bbsBoardSearchVo.getStartPage(), bbsBoardSearchVo.getEndPage())}">
                    <a th:href="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()} + '/' + ${page}}"
                       th:text="${page}"
                       th:if="${page != bbsBoardSearchVo.getRequestPage()}"></a>
                    <a th:text="${page}"
                       th:if="${page == bbsBoardSearchVo.getRequestPage()}"
                       style="font-weight: 700"></a>
                </th:block>
                <a th:href="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()} + '/' + ${bbsBoardSearchVo.getRequestPage() + 1}}"
                   th:if="${bbsBoardSearchVo.getMaxPage() > bbsBoardSearchVo.getRequestPage()}">&gt;</a>
                <!-- 조건하에 존재하는 요소 -->
                <a th:href="@{'/bbs/board/search/' + ${bbsBoardSearchVo.getId()} + '/' + ${bbsBoardSearchVo.getMaxPage()}}"
                   th:if="${bbsBoardSearchVo.getMaxPage() > bbsBoardSearchVo.getRequestPage()}">&gt;&gt;</a>
                <!-- 조건하에 존재하는 요소 -->
            </td>
        </tr>
        </tfoot>
    </table>
</main>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>