@charset "UTF-8";

body > footer {
    width: 100%;
    bottom: 0;
    background-color: var(--color-partbackground);
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1rem;
    /*position: fixed;*/
}

body > footer > .footer-container {
    padding: 1rem;
}