@charset "UTF-8";

body {
    overflow: hidden;
}

body > .main {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1.5rem;
    height: 53%;
}

body > .main > .welcome {
    align-items: center;
    margin: 4rem 0 0 2rem;
    text-align: center;
}

body > .main > .welcome > h2 {
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
}

body > .main > .welcome > p {
    text-align: right;
    padding-top: 1rem;
}

body > .main > .welcome > a {
    font-weight: 700;
    text-align: right;
    margin-top: 1rem;
    display: block;
}

body > .main > .welcome > a:hover {
    color: rgb(255, 135, 135);
}

