<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시판</title>
    <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
    <link th:href="@{/resources/stylesheets/main.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b062f4306d.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: header}"></th:block>
<main class="main">
    <aside class="aside">
        <h2>Category</h2>
        <ul class="aside-list">
            <li class="aside-item">
                <a class="category" href="">공지사항</a>
            </li>
            <li class="aside-item">
                <a class="category" href="">자유게시판</a>
            </li>
        </ul>
    </aside>
    <table class="table">
        <caption class="table-title">
            <strong>최신글</strong>
        </caption>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성 일시</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <!--조건 하에 표시되는 요소-->
        <!--<tr>-->
        <!--<td>표시할 게시글이 없습니다.</td>-->
        <!--</tr>-->
        <tr>
            <td>2</td>
            <td>최신글입니다.</td>
            <td>삐웅</td>
            <td>2022-08-30</td>
            <td>5</td>
        </tr>
        <tr>
            <td>1</td>
            <td>최신글이였습니다.</td>
            <td>삐삐웅우쓰</td>
            <td>2022-08-28</td>
            <td>20</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
            </td>
        </tr>
        </tfoot>
    </table>
</main>
<th:block th:replace="~{fragments/footer.html :: footer}"></th:block>
</body>
</html>