<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="join">
        <ul class="list">
            <li class="item" th:if="${session.userEntity == null}">
                <a class="link" th:href="@{/user/login}">로그인</a>
            </li>
            <li class="item" th:if="${session.userEntity == null}">
                <a class="link" th:href="@{/user/register}">회원가입</a>
            </li>
            <li class="item" th:if="${session.userEntity != null}">
                <b class="link" th:text="${session.userEntity.getNickname()}"></b>
                <span>님 환영합니다.</span>
            </li>
            <li class="item" th:if="${session.userEntity != null}">
                <a class="link" th:href="@{/user/logout}">로그아웃</a>
            </li>
        </ul>
    </div>
    <a class="logo-container" th:href="@{/}">
        <img alt="BBS" class="logo" th:src="@{/resources/images/bbs-logo.png}">
    </a>
    <div class="search">

    </div>
</header>
</html>